application:
  name: mattermost
  createNamespace: ###ZARF_VAR_MATTERMOST_CREATE_NAMESPACE###
  namespace: mattermost
  path: chart
  repository: https://repo1.dso.mil/big-bang/product/packages/mattermost.git
  ref:
    # renovate: datasource=gitlab-tags depName=big-bang/product/packages/mattermost versioning=loose registryUrl=https://repo1.dso.mil
    tag: 9.3.0-bb.1
  dependsOn:
    ###ZARF_VAR_MATTERMOST_DEPENDS_ON###
  baseValues:
    # hostname is deprecated and replaced with domain. But if hostname exists then use it.
    hostname: ###ZARF_VAR_DOMAIN###
    domain: ###ZARF_VAR_DOMAIN###

    enterprise:
      enabled: ###ZARF_VAR_MATTERMOST_ENTERPRISE_ENABLED###
      license: |
        ###ZARF_VAR_MATTERMOST_ENTERPRISE_LICENSE###

    openshift: false

    image:
      imagePullPolicy: IfNotPresent

    istio:
      enabled: true
      chat:
        gateways:
        - istio-system/tenant
      injection: enabled
    podAnnotations:
      bigbang.dev/istioVersion: ###ZARF_VAR_ISTIO_VERSION###
    updateJob:
      disabled: true

    monitoring:
      enabled: true

      serviceMonitor:
        enabled: true
        # conditional passes only for default istio: enabled, mTLS: STRICT
        scheme: https
        tlsConfig:
          caFile: /etc/prom-certs/root-cert.pem
          certFile: /etc/prom-certs/cert-chain.pem
          keyFile: /etc/prom-certs/key.pem
          insecureSkipVerify: true  # Prometheus does not support Istio security naming, thus skip verifying target pod certificate
    sso:
      enabled: ###ZARF_VAR_MATTERMOST_SSO_ENABLED###
      client_id: ###ZARF_VAR_MATTERMOST_SSO_CLIENT_ID###
      client_secret: ###ZARF_VAR_MATTERMOST_SSO_CLIENT_SECRET###
      auth_endpoint: ###ZARF_VAR_MATTERMOST_SSO_AUTH_ENDPOINT###
      token_endpoint: ###ZARF_VAR_MATTERMOST_SSO_TOKEN_ENDPOINT###
      user_api_endpoint: ###ZARF_VAR_MATTERMOST_SSO_USER_API_ENDPOINT###
      enable_sign_up_with_email: ###ZARF_VAR_MATTERMOST_SSO_EMAIL_SIGNUP_ENABLED###
      enable_sign_in_with_email: ###ZARF_VAR_MATTERMOST_SSO_EMAIL_SIGNIN_ENABLED###
      enable_sign_in_with_username: ###ZARF_VAR_MATTERMOST_SSO_USERNAME_SIGNIN_ENABLED###

    networkPolicies:
      enabled: true
      controlPlaneCidr: 0.0.0.0/0
      ingressLabels:
        app: tenant-ingressgateway
        istio: null

    global:
      imagePullSecrets:
        - name: private-registry
    database:
      secret: "mattermost-postgres"
    fileStore:
      secret: "mattermost-object-store"
      url: "###ZARF_VAR_MATTERMOST_FILE_STORE_ENDPOINT###"
      bucket: "mattermost-bucket###ZARF_VAR_MATTERMOST_BUCKET_SUFFIX###"

    mattermostEnvs:
      # required for Keycloak >= 20.X to work with gitlab auth pointed to Keycloak
      MM_GITLABSETTINGS_SCOPE: openid

    volumes:
      ###ZARF_VAR_MATTERMOST_VOLUMES###
    volumeMounts:
      ###ZARF_VAR_MATTERMOST_VOLUME_MOUNTS###
